# Mowbot Base
SUBSYSTEM=="tty", KERNEL=="ttyUSB*", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", ATTRS{devpath}=="2.3.3", MODE="0666", SYMLINK+="MBB-ESP"
SUBSYSTEM=="tty", KERNEL=="ttyUSB*", ATTRS{idVendor}=="067b", ATTRS{idProduct}=="2303", ATTRS{devpath}=="2.3.4", MODE="0666", SYMLINK+="MBB-UROS"

# IMUs
# SUBSYSTEM=="tty", KERNEL=="ttyUSB*", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", ATTRS{serial}=="0001", MODE="0777", SYMLINK+="RSX-UM7"
# SUBSYSTEM=="tty", KERNEL=="ttyUSB*", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", ATTRS{serial}=="1234", MODE="0777", SYMLINK+="MW-AHRS"
SUBSYSTEM=="tty", KERNEL=="ttyUSB*", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="7523", ATTRS{devpath}=="2.4.3", MODE="0666", SYMLINK+="HWT905"

# GPSs
SUBSYSTEM=="tty", KERNEL=="ttyACM*", ATTRS{idVendor}=="1546", ATTRS{idProduct}=="01a9", ATTRS{devpath}=="2.3.1", MODE="0666", SYMLINK+="UBLOX-GNSS-R"
SUBSYSTEM=="tty", KERNEL=="ttyACM*", ATTRS{idVendor}=="1546", ATTRS{idProduct}=="01a9", ATTRS{devpath}=="2.3.2", MODE="0666", SYMLINK+="UBLOX-GNSS-L"


# Lasers
# SUBSYSTEM=="tty", KERNEL=="ttyUSB*", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", ATTRS{serial}=="0001", MODE:="0777", SYMLINK+="YDLIDAR"
# SUBSYSTEM=="tty", KERNEL=="ttyUSB*", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", ATTRS{serial}=="d262bfbfd67deb11805965879693f7bc", MODE="0777", SYMLINK+="RPLIDAR-C2"
SUBSYSTEM=="tty", KERNEL=="ttyUSB*", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", ATTRS{serial}=="da344e8fdc89ec11a36cc071d76262f7", MODE="0777", SYMLINK+="RPLIDAR-C2"